# Project Files #
#################
*.userprefs
*.pidb
*swp
bin
obj
WebGoat/App_Data/*.txt
*.sqlite*
WebGoat/Configuration/*.config
packages
!FakeCredentials/webgoat_coins.sqlite

# Trash Files #
###############
.DS_Store
